* {
    margin: 0%;
}

body {
    background-color: #d8d1d1;
}

.container {
    width: 700px;
    margin-left: 300px;
    background-color: #ede2e2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px #9999;
    border-radius: 10px;

}

.container-navbar {
    font-size: 15px;
    margin-bottom: 10px;
}

.paragraf-navbar {
    width: 700px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.button-content {
    background-color: black;
    color: white;
    border-radius: 100px;
    width: 100px;
    margin-bottom: 50px;
}

.download-content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.download-img {
    height: 20px;
    width: 30px;
    padding-left: 10px;
}

.logo-content {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.img-logo {
    width: 20px;


}

.img-me {
    width: 200px;

    box-shadow: 0px 0px 5px #9999;

}

.name-me {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 25px;
    background-color: white;
    margin-left: 500px;



}

.img-dumbways {
    width: 50px;
}

.ul-navigation {
    list-style-type: none;
    font-size: large;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 100%;
    margin-left: 20px;

}

.content-navigation {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.btn-content {
    background-color: black;
    list-style-type: none;
    color: white;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-right: 40px;
}

.nav-link {
    font-size: 20px;
}

.nav-link:hover {
    color: orangered;
}